@font-face {
    font-family: 'rocgroteskbold';
    src: url(../Demo_Fonts/rocgrotesk-bold.otf) format('woff2');
    font-weight: bold;
    /* src: local('rocgrotesk'); */
    /* unicode-range: U+0022, U+0027; */
}

@font-face {
    font-family: 'rocgroteskregular';
    src: url(../Demo_Fonts/rocgrotesk-regular.otf) format('woff2');
    font-weight: bold;
    /* src: local('rocgrotesk'); */
    /* unicode-range: U+0022, U+0027; */
}

@font-face {
    font-family: 'rocgrotesklight';
    src: url(../Demo_Fonts/rocgrotesk-light.otf) format('woff2');
    font-weight: light;
    /* src: local('rocgrotesk'); */
    /* unicode-range: U+0022, U+0027; */
}

@font-face {
    font-family: 'copaloutline';
    src: url(../Demo_Fonts/Copal-Outline.otf) format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'copalsolid';
    src: url(../Demo_Fonts/Copal-Solid.ttf) format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'ariah';
    src: url(../Demo_Fonts/ARIAH.TTF) format('opentype');
    font-weight: bold; 
}






/**************/
/* CSS REMEDY */
/**************/

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: var(--font-family-regular);
    font-weight: bold;
}
/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    --color-text: #ffff;
    --black-color-text: #000000;
    --color-background: rgb(18, 18, 18);
    --dark-color-background: rgba(117, 19, 124, 215);
    --light-color-background: rgba(157, 29, 164, 255);
    --lighter-color-background: rgba(230, 170, 230, 255);
    --black-color-background: #000000;
    --font-family-bold: 'rocgroteskbold';
    --font-family-regular: 'rocgroteskregular';
    --font-family-light: 'rocgrotesklight';
    --font-family2: 'copaloutline';
    --font-family3: 'copalsolid';

    --color-border: #ffff;
    --white-color-underline: #ffff;
    --color-underline: #000000;
    --small-font-size: small;
    --medium-font-size: medium;
    --large-font-size: large;
    --x-large-font-size: x-large;
    --xx-large-font-size: xx-large;
    --text-shadow: 0.1em 0.1em 0.25em rgba(0, 0, 0, 0.15);
}


/****************/
/* JOUW STYLING */
/****************/

h1, h2, h3 {
    font-family: var(--font-family-regular);
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
}

p {
    /* letter-spacing: 0.1em; */
    word-spacing: 0.05em;
    font-family: var(--font-family-light);
}

.cursor {
    position: fixed;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: white;
    transition: 0.2s;
    transform: translate(-50%,-50%);
    pointer-events: none;
    mix-blend-mode: difference;
}

@media (max-width: 40em) {
    .cursor {
        width: 1em;
        height: 1em;
    }
}

ul li:hover ~ .cursor {
    transform: scale(4);
}



/**********/
/* HEADER */
/**********/

a[href="#main"]:link {
    position: absolute;
    left: -1em;
    top: auto;
    width: 1em;
    height: 1em;
    overflow: hidden;
}


a[href="#main"]:link:focus {
    position: static;
    width: auto;
    height: auto;
}


header {
    gap: 1em;
    white-space: nowrap;
    margin: 0;
    padding: 0.5em 0em 0 0em;
}

@media (max-width: 40em) {
    header {
        padding: 0.5em 0.5em 0 0;
    }
}


header>a {
    z-index: 100;
}

header>button {
    z-index: 100;
}


/***************/
/*** NAV BAR ***/
/***************/

header nav:last-of-type {
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
}

header nav:last-of-type ul:nth-child(2) {
    display: flex;
    align-items: flex-start;
}

header nav:last-of-type ul li a {
    color: var(--color-text);
    text-decoration: none;
    font-size: var(--large-font-size);
}

header nav:last-of-type ul {
    gap: 2em;
    list-style-type: none;
    padding: 0.5em 2em 0 2em;
}

@media (max-width: 40em) {
    header nav:last-of-type ul {
        gap: 1em;
        padding: 0.5em 1.5em 0 1.5em;
    }

    header nav:last-of-type ul li a {
        font-size: var(--small-font-size);
    }
}

span {
    font-family: sans-serif;
    font-weight: lighter;
}



/**************/
/*** footer ***/
/**************/

footer p {
    margin: 0;
    padding-left: 1.5em;
    padding: 0 0 1em 1em;
    font-size: small;
}

@media (max-width: 40em) {
    footer p {
        padding-left: 1em;
        font-size: small;
    }
}