header h1 {
    left: 5rem;
    top: 41rem;
}

header section {
    padding-bottom: 4em;
}

header div {
    grid-template-rows: 15em 15em;
}

header img:nth-of-type(1) {
    top: 12rem;
    left: 24rem;
    width: 43em;
}

header img:nth-of-type(2) {
    left: 36rem;
    top: 11rem;
}

@media (max-width: 40em) {
    header img {
        left: 4rem;
        top: 6rem;
    }
}

@media (max-width: 40em) {
    section:nth-of-type(2) h3 {
        padding-top: 0em;
    }
}

main section:nth-of-type(1) img {
    width: 33em;
    height: 21em;
}

main section:nth-of-type(1) div {
    gap: 2em;
    display: flex;
    /* padding: 0; */
}

@media (max-width: 40em) {
    section:nth-of-type(2) li:first-of-type img {
        padding: 0;
    }
}

@media (max-width: 40em) {
    section:nth-of-type(2) img:first-of-type {
        /* width: 31em; */
        /* padding: 1em 1.5em; */
        /* order: 1; */
    }
}

main section:nth-of-type(1) {
    /* display: flex; */
    padding: 8em 0em 0em 10em;
    gap: 2em;
}

@media (max-width: 40em) {
    section:nth-of-type(2) li:nth-of-type(1) {
        padding: 2em 2em 0em 0em;
    }
}

main section:nth-of-type(1) div:nth-of-type(2) {
    display: flex;
    /* flex-direction: column; */
    gap: 2em;
    padding: 0em 2em 2em 0em;
}

@media (max-width: 40em) {
    section:nth-of-type(2) li:first-of-type div:nth-of-type(2) {
        padding: 2em 0em 2em 1.5em;
    }
}



@media (max-width: 40em) {
    section:nth-of-type(2) li:first-of-type div {
        padding: 0em 0em 0 1.5em;
    }
}

main section:nth-of-type(2) img:nth-of-type(1),
main section:nth-of-type(4) img {
    /* border-radius: 0.5em; */
    width: 33em;
    height: 22em;
}

@media (max-width: 40em) {

    section:nth-of-type(2) li:nth-of-type(2) img,
    section:nth-of-type(2) li:nth-of-type(4) img {
        padding: 0;
    }
}

@media (max-width: 40em) {
    section:nth-of-type(2) li:nth-of-type(2) div {
        padding: 1em 2em 0 0em;
    }
}

main section:nth-of-type(2) {
    padding: 5em 4em 2em 10em;
    /* display: flex; */
}

@media (max-width: 40em) {
    section:nth-of-type(2) li:nth-of-type(2) {
        padding: 2em 0em 0em 1.5em;
    }
}

main section:nth-of-type(4) {
    padding: 0;
    /* background-color: #0e0e0e; */
}

main section:nth-of-type(4) img:nth-of-type(1) {
    width: 98%;
    height: 100%;
    padding-left: 1.5em;
}

main section:nth-of-type(3) {
    flex-direction: column;
    display: flex;
    padding: 4em 6em 8em 10em;
    gap: 0;
}

main section:nth-of-type(3) div {
    /* padding: 0 16em 0 3em; */
}

@media (max-width: 40em) {
    section:nth-of-type(2) li:nth-of-type(4) {
        padding: 5em 1em 0 1.5em;
        flex-direction: column-reverse;
    }

    section:nth-of-type(2) li:nth-of-type(4) div {
        padding: 2em 1.5em 2em 0em;
    }
}

main section:nth-of-type(3) img:nth-of-type(2) {
    width: 33em;
    height: 38em;
}

@media (max-width: 40em) {
    section:nth-of-type(2) li:nth-of-type(4) img {
        width: 28em;
        border-radius: 0.5em;
        padding: 0;
        left: 1.5em;
    }
}

main section:nth-of-type(3) div img:nth-of-type(1) {
    width: 1.5em;
    height: 1.5em;
}

main section:nth-of-type(5) {
    display: flex;
    gap: 1em;
    padding: 8em 0em 8em 10em;
}

@media (max-width: 40em) {
    section:nth-of-type(2) li:nth-of-type(5) {
        padding: 1em 0em;
        gap: 0em;
    }
}

main section:nth-of-type(5) img {
    width: 28em;
    height: 24em;
}

@media (max-width: 40em) {
    section:nth-of-type(2) li:nth-of-type(5) img:nth-of-type(1) {
        width: 28em;
        height: 26em;
        padding: 4em 0em 0 4em;
    }
}

main section:nth-of-type(5) img:nth-of-type(2) {
    width: 18em;
    height: 22em;
}

@media (max-width: 40em) {
    section:nth-of-type(2) li:nth-of-type(5) img:nth-of-type(2) {
        width: 26em;
        height: 22em;
        padding: 2em 2em 0 8em;
    }
}

main section:nth-of-type(5) img:nth-of-type(3) {
    width: 24em;
    height: 20em;
    padding: 2em 0 0 4em;
}

@media (max-width: 40em) {
    section:nth-of-type(2) li:nth-of-type(5) img:nth-of-type(3) {
        width: 27em;
        height: 23em;
        padding: 4em 2em 0 7em;
    }
}