header h1 {
    left: 5rem;
    top: 39rem;
}

header section {
    padding-top: 13em;
}

header video {
width: 20em;
top: 9vw;
left: 39vw;
position: relative;
}

header img:nth-of-type(2) {
    width: 8em;
    top: 11rem;
    left: 50rem;
}

main section:nth-of-type(1), main section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 33em 36em;
    padding: 6em 0em 3em 10em;
    gap: 2em;
}

main img:first-of-type {
    width: 32em;
}

main section:nth-of-type(1) article div:nth-of-type(2) {
    display: flex;
    gap: 1em;
}

main section:nth-of-type(1) img:nth-of-type(2)  {
width: 24em;
}

main section:nth-of-type(3) {
    padding: 5em 0 8em 0em;
    /* background-color: #171717; */
    /* flex-direction: column; */
}

@media (max-width: 40em) {
    main section:nth-of-type(3) {
        padding: 4em 0 0em 1.5em;
    }
}

main section:nth-of-type(2) img:nth-of-type(1) {
    width: 32em;
    height: 9em;
}

main section:nth-of-type(2) div:nth-of-type(2) img {
    width: 34em;
    height: 25em;
}

main section:nth-of-type(2) article:nth-of-type(2) img:nth-of-type(2) {
    width: 34em;
    height: 20em;
}


main section:nth-of-type(2) article:nth-of-type(1) {
    flex-direction: row;
    gap: 3em;
}

main section:nth-of-type(2) article:nth-of-type(2) h3 {
    padding-right: 0.4em;
    }
    
    main section:nth-of-type(2) article:nth-of-type(2) img:nth-of-type(2){
        top: 0.5em;
        width: 35em;
    }

    main section:nth-of-type(1) div:nth-of-type(2) img {
        width: 18em;
    }
    
    main section:nth-of-type(2) {
        display: grid;
        grid-template-columns: 33em 36em;
        padding: 6em 0em 8em 10em;
        gap: 1em;
    }
    
    main section:nth-of-type(2) article:nth-of-type(2) {
        padding: 0em 3em 0em 0em;
        /* display: flex; */
        flex-direction: column;
        /* background-color: #0e0e0e; */
        /* text-align: right; */
    }

    main section:nth-of-type(3) article:nth-of-type(1) img {
        width: 34em;
        height: 48em;
    }

    main section:nth-of-type(3) article:nth-of-type(2) img {
        width: 34em;
        height: 20em;
    }

    main section:nth-of-type(4) {
        padding: 0;
        justify-content: center;
        gap: 1em;
        display: flex;
    flex-direction: row;
    }

    main section:nth-of-type(4) img {
width: 43em;
height: 43em;
    }

    main section:nth-of-type(3) div img:nth-of-type(1) {
        width: 1.5em;
    height: 1.5em;
    }

    main section:nth-of-type(5) {
    padding: 6em 0 8em 15em;
    }

    main section:nth-of-type(5) video {
        width: 60em;
        
    }

    video {
        width: 70em;
    }