main section:nth-of-type(1) article div:nth-of-type(2) {
    display: flex;
    gap: 1em;
}

main section:nth-of-type(1) img:nth-of-type(2)  {
width: 20em;
}

header img:nth-of-type(1) {
    top: 9rem;
}

header img:nth-of-type(2) {
    top: 8rem;
}

header section {
padding-top: 16em;
}

main section:nth-of-type(3) {
    display: flex;
    padding: 5em 0 8em 10em;
    /* background-color: #171717; */
    flex-direction: column;
}

@media (max-width: 40em) {
    main section:nth-of-type(3) {
        padding: 4em 0 0em 1.5em;
    }
}


main section:nth-of-type(3) img:nth-of-type(1) {
    width: 69em;
    height: 52em;
}

main section:nth-of-type(2) img:nth-of-type(1) {
    width: 34em;
    height: 36em;
}


main section:nth-of-type(2) article:nth-of-type(1) {
    flex-direction: row;
    gap: 3em;
}

main section:nth-of-type(2) article:nth-of-type(2) h3 {
    padding-right: 0.4em;
    }
    
    main section:nth-of-type(2) article:nth-of-type(2) img:nth-of-type(2){
        top: 0.5em;
        width: 35em;
    }
    
    main section:nth-of-type(2) {
        display: grid;
        grid-template-columns: 33em 36em;
        padding: 6em 0em 3em 10em;
        gap: 2em;
    }
    
    main section:nth-of-type(2) article:nth-of-type(2) {
        padding: 0em 3em 0em 0em;
        /* display: flex; */
        flex-direction: column;
        /* background-color: #0e0e0e; */
        text-align: right;
    }


    main section:nth-of-type(4) {
        padding: 0;
        justify-content: center;
        gap: 1em;
        display: flex;
    flex-direction: row;
    }

    main section:nth-of-type(4) img {
width: 43em;
height: 43em;
    }

    main section:nth-of-type(3) div img:nth-of-type(1) {
        width: 1.5em;
    height: 1.5em;
    }

    main section:nth-of-type(5) {
    padding: 6em 0 8em 15em;
    }

    main section:nth-of-type(5) video {
        width: 60em;
        
    }